# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized......

# <font color='red'>Objectives:</font>
* Programming
* Databases
* Data Visualization
* JupyterLabs
* R

        Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Jupyter
4. R
5. Scala

#### <font color='orange'>Some of the commonly used libraries used by Data Scientists include:</font>

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools |
|   ---------------  |
Jupyter Notebooks
RStudio
Google Colab
Visual Studio
DataSpell

### <font color='red'>Below are a few examples of evaluating arithmetic expressions in Python:</font>

In [12]:
11*10

110

In [14]:
100 % 21

16

            Below is a simple arithmetic expression to mutiply then add integers. (3*4)+5

In [15]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

    200 minutes divided by 60 minutes = (hours)

In [19]:
200/60

3.3333333333333335

## Author
<font color='green'>Kevin L in California  :-) </font>